@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');

@font-face {
  font-family: 'Star Jedi';
  src: url('./fonts/StarJediTipografia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
